body {
    background: #3498db;
}

.btn {
    margin: 5px;
}

.genres-container {
    text-align: center;
}

.card-columns {
    text-align: center;
}

.card {
    border: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0)
}

.pop-outer {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.pop-inner {
    background-color: #fff;
    max-width: 500px;
    min-height: 300px;
    padding: 25px;
    margin: 10% auto;
}

form {
    margin-top: 50px;
    padding: 0 5px;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    margin-top: 20px;
  }
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
  }
  
@keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }

#placeholder {
    display: none;
}