<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <title>Movie DB</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">movie_db</a>
        <div class="user-login"><button class="open-it btn btn-outline-warning">Login</button></div>
    </nav>

    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <div class="genres-container">
                    <ul class="genres"></ul>
                </div>
                <div class="movies-container"></div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns"><img id="placeholder" src="http://i.imgur.com/NdNGbXC.gif"></div>
        </div>
    </main>

<!-- User login -->
<div class="pop-outer">
    <div class="pop-inner">
        <button class="close-it btn btn-dark float-right">Close</button>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="user-password">Password</label>
                    <input type="password" class="form-control" id="user-password" placeholder="Password">
                </div>
            </form>
            <button class="submit btn btn-primary">Login</button>
    </div>
</div>

<!-- Movie description template (mustache) -->

    <script id="description-template" type="x-tmpl-mustache">
        {{#movies}}
            <div class="description" style="padding: 20px; title="Movie Description">
                <h2>{{title}}</h2>
                <div class="alert alert-light" role="alert">
                    <p><strong>Year:</strong> {{year}}</p>
                    <p><strong>Runtime:</strong> {{runtime}}</p>
                    <p><strong>Genres:</strong> {{genres}}</p>
                    <p><strong>Director:</strong> {{director}}</p>
                    <p><strong>Actors:</strong> {{actors}}</p>
                </div>
                <div class="alert alert-warning" role="alert">{{plot}}</div>
            </div>
        {{/movies}}
    </script>

	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://unpkg.com/mustache@2.3.0/mustache.min.js"></script>
    <script src="index.js"></script>
    <script src="colorRotator.js"></script>
</body>
</html>